/*footer {
  //width: 100%;
  max-width: 1280px;
  min-width: 650px;
  min-height: 100px;
  margin: 0 auto;
  background-color: $site-blue;
  color: $white;
  justify-content: center;

  .thirds {
    max-width: 980px;
    min-width: 650px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 25px;

    .logo {
      width: 30%;
      text-align: left;
    }

    p {
      width: 40%;
      font-family: Gill Sans Regular;
      font-size: 12px;
    }

    .icons {
      width: 30%;
      text-align: right;
    }
  }
}*/

footer {
  max-width: 1280px;
  min-width: 650px;
  height: 100px;
  margin: 0 auto;
  background-color: $site-blue;
  color: $white;
  display: flex;
  align-items: center;
  text-align: center;

  .logo {
    width: 30%;
  }

  p {
    width: 40%;
    font-family: Gill Sans Regular;
    font-size: 12px;
  }

  .icons {
    width: 30%;
  }
}
